@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;1,400;1,500&family=Crimson+Pro:wght@900&family=DM+Serif+Display:ital@0;1&family=Fanwood+Text:ital@0;1&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.brandp{
    font-size: 13px;
    font-weight: 300px;
    line-height: 18px;
}

.brandname{
    background-color: #bfa161;
    text-align: center;
    height: 40px;
    color: white;
    margin: 0;
    padding-bottom: 0;
}

.brandnamestyle{
    font-weight: 600;
    font-family: 'PT serif';
    
}

.brandlogo{
    border:0;
    width:215px;
    height: 121.19px;
    
}

.BrandContainer{
    width: 215px;
    height: fit-content;
    align-items: center;
    align-content: center;
    align-items: justify;
    text-align: center;
    line-height: 0;
}